<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/IMG_4310_adobespark.png" class="img-fluid" id="fotoPerfil"/>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full stack developer Jr.</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum error
        cupiditate voluptatum dolorum soluta dolorem corrupti, ab harum delectus
        ut, pariatur placeat atque perferendis! Accusamus quibusdam fugit in
        aspernatur adipisci?
      </p>
    </span>
  </div>
</div>
