<div class="row">
  <h1>Hard & soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'2em'"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="80"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'2em'"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="80"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'2em'"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="80"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'2em'"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="80"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'2em'"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="80"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'2em'"
      [showUnits]="false"
      [showSubtitle]="false"
      [radius]="80"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
</div>
