<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Operador de sonido y video</h2>
        -
        <h3>(años)</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quisquam
        numquam, id voluptatibus deleniti dolore sed debitis, exercitationem
        quibusdam at asperiores tempore minima non. Sapiente tempore magnam
        pariatur ad dolore?
      </p>
      <li>
        <h2>Trabajo 2</h2>
        -
        <h3>(años)</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
          quisquam numquam, id voluptatibus deleniti dolore sed debitis,
          exercitationem quibusdam at asperiores tempore minima non. Sapiente
          tempore magnam pariatur ad dolore?
        </p>
      </li>
    </ul>
  </div>
</div>
